<h1>BanBot</h1>
<h3>The ultimate weapon to be wielded by forum admins.</h3>
<hr>
<h2>Login</h2>
<form class="form-signin" action="/auth/login" method="post">
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="email" id="uname" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="pword" class="form-control" placeholder="Password" required>
  <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block">
</form>